---
import TagLinks from "@components/TagLinks.astro";
import Layout, { type Meta } from "@layouts/Layout.astro";
import { getBreadcrumbs, getTags, toISODate } from "@lib/util";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
	const games = await getCollection("games");

	return games.map((gamePage) => ({
		params: { slug: gamePage.id },
		props: { gamePage },
	}));
}) satisfies GetStaticPaths;

const { gamePage } = Astro.props;
const { Content } = await render(gamePage);

const tags = await getTags(gamePage);

const meta: Meta = {
	date: toISODate(gamePage.data.date),
	description: gamePage.data.description,
	section: "games",
	tags: tags.map((t) => t.data.name),
};

const ld = getBreadcrumbs([
	["games", new URL("games", Astro.site)],
	[gamePage.data.title, undefined],
]);
---

<Layout title={gamePage.data.title} ld={ld} meta={meta}>
	<section>
		<a href="/games" title="back to games"><strong>games</strong>/</a>
		<h1>{ gamePage.data.title } { gamePage.data.link ? <a class="button" href={gamePage.data.link}>Play</a> : undefined }</h1>
		<p><TagLinks tags={tags} />{ gamePage.data.jam ? <span> for the <a href={gamePage.data.jam.link}>{ gamePage.data.jam.name }</a></span> : undefined }</p>

		<Content />
	</section>
</Layout>

<style>
	body {
		--theme: var(--games);
	}

	iframe {
		border: none;
	}

	h1 .button {
		font-size: 1.25rem;
		margin-left: .5em;
	}
</style>
