---
import TagLinks from "@components/TagLinks.astro";
import Layout from "@layouts/Layout.astro";
import { dateFormatter, getAllContent, getTags, sortByDate } from "@lib/util";

const gwrLink = "https://www.tcd.ie/news_events/articles/2023/the-hist-wins-guinness-world-record-for-longest-debate/",
	stormontLink = "https://www.youtube.com/watch?v=hdEQnLnAryU";

const recentItems = sortByDate(await getAllContent()).slice(0, 5);
---

<Layout title="about" hideNav>
	<section>
		<h1>s&eacute;bastien dunne fulmer</h1>
		<ul class="tagline">
			<li><a href="/projects/thesis-physical-computing">computer engineering masters @ TCD</a></li>
			<li><a href="/games">game jammer</a></li>
			<li><a href={gwrLink}>guinness world record holder</a></li>
			<li>debater & public speaker</li>
			<li>trinity legacy award recipient</li>
			<li>ex-auditor of the Hist</li>
			<li><a href="/projects/tabtastic">built the Tabtastic debate platform</a></li>
			<li>aspiring chef</li>
		</ul>
	</section>

	<section>
		<nav class="large-nav">
			<ul>
				<li style="--theme: var(--thoughts)">
					<a href="/thoughts">thoughts/</a> -- learnings, tutorials, opinions and other things
				</li>
				<li style="--theme: var(--projects)">
					<a href="/projects">projects/</a> -- projects I have built
				</li>
				<li style="--theme: var(--games)">
					<a href="/games">games/</a> -- games I have worked on
				</li>
			</ul>
		</nav>
	</section>

	<section>
		<h2>a bit about me</h2>
		<p>I am an Irish-Canadian engineer, game jammer, debater and aspiring chef.</p>

		<p>I have recently finished my integrated masters in computer engineering at Trinity College Dublin in Ireland, where I researched computer science education for my masters thesis, and I currently work as a System Development Engineer II at Amazon in the Intelligent Cloud Hosting (ICON) team, which is responsible for managing the infrastructure that powers Amazon's retail websites. During my time at Trinity I spent a considerable amount of time in the College Historical Society (the Hist), Trinity's debating society and the oldest student society in the world (inspiring and helping to set up the Cambridge and Oxford unions), where I was the Auditor (chairperson) during my 4th year of college. In my spare time, I also like to work on hobby development projects, enter game jams and practise cooking. I am also a <a href="https://github.com/godotengine/godot/commits/master/?author=CreatedBySeb" target="_blank">minor contributor</a> to the Godot game engine, but hoping to contribute more as I get more familiar with the project.<p>

		<p>While in Trinity, I won the Trinity Legacy Award for my work improving accessibility on campus, <a href={gwrLink}>set a world record for the longest marathon debate with the Hist</a>, <a href={stormontLink}>represented Trinity in a debate at the Northern Irish Assembly in Stormont</a>, helped organise the 2023 World Universities Debating Championships in Madrid, and built my own Software-as-a-Service platform for running debate competitions, <a href="/projects/tabtastic">Tabtastic</a>.</p>
	</section>

	<section class="recent-items">
		<h2>recent items (<code>tail -n 5</code>)</h2>
		<ul>
			{recentItems.map(async (item) => {
				const tags = await getTags(item);

				return <li style={`--theme: var(--${item.collection})`}>
					<h3>
						<a href={"/" + item.collection}>{ item.collection }</a> /
						<a href={`/${item.collection}/${item.id}`}>{ item.data.title }</a>
					</h3>
					<p class="item-date">{ dateFormatter.format(item.data.date) }</p>
					<p>{ tags.length ? <TagLinks tags={tags}/> : undefined } | { item.data.description }</p>
				</li>
			})}
		</ul>
	</section>

</Layout>

<style>
	h1 {
		font-size: 3em;
		margin: .25em 0;
	}

	ul.tagline {
		display: flex;
		flex-wrap: wrap;
		gap: .5em 1.5em;
		padding: 0;

		& > li {
			list-style: none;
		}
	}

	nav.large-nav {
		& > ul {
			padding: 0;

			& > li {
				color: var(--theme);
				font-size: 2rem;
				font-style: italic;
				list-style: none;
				margin: .2em 0;

				& > a {
					font-size: 3rem;
					font-style: normal;
				}
			}
		}
	}

	section.recent-items {
		& ul {
			list-style: none;
			padding-left: 1rem;

			& li {
				color: var(--theme);
				margin: 1rem 0;

				& h3, p {
					margin: 0.5rem 0;
				}

				& .item-date {
					font-style: italic;
				}
			}
		}
	}
</style>
