---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import type { LinkedData } from "@lib/util";
import type { CollectionKey } from "astro:content";

export interface Meta {
	date?: string;
	description?: string;
	section?: CollectionKey;
	tags?: string[];
}

interface Props {
	hideNav?: boolean;
	ld?: LinkedData | LinkedData[];
	meta?: Meta;
	title: string;
}

const { hideNav, ld = undefined, meta = {}, title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL("opengraph.png", Astro.site);
const ogType = (meta.date || meta.section || meta.tags) ? "article" : "website";
const rssURL = new URL("rss.xml", Astro.site);

const dateRegExp = /^\d{4}-\d{2}-\d{2}$/;

if (meta.date && !dateRegExp.test(meta.date)) {
	throw TypeError(`Invalid date '${meta.date}', must be an ISO 8601-compatible date`);
}
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title} - s&eacute;bastien dunne fulmer</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalURL} />
		<link rel="alternate" type="application/rss+xml" title="sébastien dunne fulmer" href={rssURL} />
		{ (meta.description) ? <meta name="description" content={meta.description} /> : undefined }

		{/* OpenGraph metadata */}
		<meta property="og:title" content={title} />
		<meta property="og:type" content={ogType} />
		<meta property="og:image" content={ogImageURL} />
		<meta property="og:image:alt" content="sébastien dunne fulmer" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:site_name" content="sébastien dunne fulmer" />
		<meta property="og:locale" content="en_GB" />
		{ (meta.description) ? <meta property="og:description" content={meta.description} /> : undefined}
		{ (meta.date) ? <meta property="article:published_time" content={meta.date} /> : undefined}
		{ (meta.section) ? <meta property="article:section" content={meta.section} /> : undefined}
		{ (meta.tags) ? meta.tags.map((tag) => <meta property="article:tag" content={tag} />) : undefined}

		{/* JSON-LD for Structured Data */}
		{ (ld) ? <script type="application/ld+json" set:html={JSON.stringify(ld)}></script> : undefined }
	</head>
	<body>
		{ (!hideNav) ? <Header /> : undefined }
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Work Sans";
		src: url("/fonts/worksans.ttf");
	}

	@font-face {
		font-family: "Work Sans";
		src: url("/fonts/worksans-italic.ttf");
		font-style: italic;
	}

	html {
		--bg: #202020;
		--primary: #07FA39;
		--thoughts: #FAF019;
		--games: #E354FC;
		--projects: #42E5FA;

		--theme: var(--primary);

		background-color: var(--bg);
		font-family: "Work Sans", sans-serif;
		font-size: 100%;
	}

	body {
		color: var(--theme);
		font-size: 1.2rem;
		margin: 0;
	}

	a {
		color: inherit;

		&:active, &:focus, &:hover {
			background-color: var(--theme);
			color: var(--bg);
		}
	}

	figcaption {
		font-size: 1.1rem;
		font-style: italic;
		margin: .5rem;
		text-align: center;
	}

	figure {
		margin: 1rem 0;
	}

	iframe {
		border-style: solid;
		display: block;
		margin: 0 auto;
	}

	main {
		overflow-x: scroll;
	}

	section {
		margin: 1em auto;
		max-width: 80rem;
		padding: 0 2em;
	}

	a.button, button.button {
		border: .1em solid var(--theme);
		border-radius: .25em;
		padding: .25em .5em;
	}

	article.content-item {
		margin: 3em 0;

		& h2 {
			margin-bottom: .25em;
		}

        & p {
            margin: .25em 0;
        }
	}

	[data-icon] {
		font-size: 1.4rem;
	}

	:is(h1, h2, h3, h4, h5, h6, p) [data-icon] {
		vertical-align: top;
	}

	.astro-code {
		font-size: 1rem;
		padding: 1rem;
	}
</style>
